* {
    margin: 0;
    padding: 0;
}
#navbar {
    background-color: black;
    padding: 20px;
}
#left {
    text-align: left;
    color: white;
    font-family: 'Rubik 80s Fade', cursive;
    display: inline-block;
    height: 45px;
    width: 400px;
    font-size: 20px;
}
#center {
    text-align: center;
    color: white;
    display: inline-block;
    height: 10px;
    width: 200px;
}
#right {
    text-align: right;
    color: white;
    display: inline-block;
    height: 20px;
    width: 850px;
}
ul {
    display: flex;
}
li {
    margin-left: 3.5rem;
    margin-right: 2rem;
}
.btnsn {
    background-color: skyblue;
    border-radius: 35px;
    border-color: none;
    font-size: 12px;
    padding: 7px;
}
.searchbox{
    border-radius: 5px;
}
.contact {
    width: 500px;
    text-align: left;
}
a {
    color: white;
}
.imga {
    height: 50rem;
}
.imgb {
    height: 50rem;
    width: 37rem;
}
.imgc {
    height: 36rem;
    width: 23rem;
}
h1 {
    font-size: 3rem;
    color: darkblue;
}
#main {
    width: 40rem;
    display: flex;
}
.abt_img {
    height: 42rem;
    width: 70rem;
}
.description {
    padding: 3rem;
}
#ctc_main {
    margin-left: 5rem;
    padding: 6.5rem;
}
h5 {
    margin-left: 7.5rem;
}
.desc {
    margin-left: 3rem;
    color: white;
}
.contactpage {
    background-image: url("https://priyanshii-jain-code50-96002677-jp5wx9jg6vqfwpj-8080.preview.app.github.dev/47360918261_c0da28e062_n.jpg");
    background-size: cover;

}
h6{
    color: white;
}
#plc_main {
    display: inline;
}
#a {
    margin: 4.5px;
    border: 1px solid #ccc;
    float: left;
    width: 320px;
}
.place_me {
    text-align: center;
}
#b {
    margin: 4.5px;
    border: 1px solid #ccc;
    float: left;
    width: 320px;
}
#c {
    margin: 4.5px;
    border: 1px solid #ccc;
    float: left;
    width: 320px;
}
#d {
    margin: 4.5px;
    border: 1px solid #ccc;
    float: left;
    width: 320px;
}
#e {
    margin: 4.5px;
    border: 1px solid #ccc;
    float: left;
    width: 320px;
}
#f {
    margin: 4.5px;
    border: 1px solid #ccc;
    float: left;
    width: 320px;
}
#g {
    margin: 4.5px;
    border: 1px solid #ccc;
    float: left;
    width: 320px;
}
#h {
    margin: 4.5px;
    border: 1px solid #ccc;
    float: left;
    width: 320px;
}